In [1]:
import pandas as pd
import numpy as np

In [2]:
air = pd.read_csv(r"d:\temp\Air_Traffic_Passenger_Statistics.csv")

In [3]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [9]:
air.set_index(keys=["Operating Airline","Activity Period"], inplace=True)

In [10]:
air.head()

                                  Operating Airline IATA Code  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ
                  200507                                   TZ
                  200507                                   TZ
Air Canada        200507                                   AC
                  200507                                   AC

                                  Published Airline  \
Operating Airline Activity Period
ATA Airlines      200507               ATA Airlines
                  200507               ATA Airlines
                  200507               ATA Airlines
Air Canada        200507                 Air Canada
                  200507                 Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
Air Canada        200507                                   AC  International
                  200507                                   AC  International

                                  GEO Region Activity Type Code  \
Operating Airline Activity Period
ATA Airlines      200507                  US           Deplaned
                  200507                  US           Enplaned
                  200507                  US     Thru / Transit
Air Canada        200507              Canada           Deplaned
                  200507              Canada           Enplaned

                                  Price Category Code    Terminal  \
Operating Airline Activity Period
ATA Airlines      200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
Air Canada        200507                        Other  Terminal 1
                  200507                        Other  Terminal 1

                                  Boarding Area  Passenger Count
Operating Airline Activity Period
ATA Airlines      200507                      B            27271
                  200507                      B            29131
                  200507                      B             5415
Air Canada        200507                      B            35156
                  200507                      B            34090

In [11]:
air.sort_index(ascending=[True,False])

                                                         Operating Airline IATA Code  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803                                   4O
                                         201803                                   4O
ATA Airlines                             200802                                   TZ
                                         200710                                   TZ
                                         200710                                   TZ
...                                                                              ...
XL Airways France                        201206                                   SE
                                         201205                                   SE
                                         201205                                   SE
Xtra Airways                             200608                                   XP
                                         200608                                   XP

                                                                                 Published Airline  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803           ABC Aerolineas S.A. de C.V. dba Interjet
                                         201803           ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             200802                                       ATA Airlines
                                         200710                                       ATA Airlines
                                         200710                                       ATA Airlines
...                                                                                            ...
XL Airways France                        201206                                  XL Airways France
                                         201205                                  XL Airways France
                                         201205                                  XL Airways France
Xtra Airways                             200608                                       Xtra Airways
                                         200608                                       Xtra Airways

                                                         Published Airline IATA Code  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803                                   4O
                                         201803                                   4O
ATA Airlines                             200802                                   TZ
                                         200710                                   TZ
                                         200710                                   TZ
...                                                                              ...
XL Airways France                        201206                                   SE
                                         201205                                   SE
                                         201205                                   SE
Xtra Airways                             200608                                   XP
                                         200608                                   XP

                                                            GEO Summary  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803           International
                                         201803           International
ATA Airlines                             200802                Domestic
                                         200710                Domestic
                                         200710                Domestic
...                                                                 ...
XL Airways France                        201206           International
                                         201205           International
                                         201205           International
Xtra Airways                             200608                Domestic
                                         200608                Domestic

                                                         GEO Region  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803              Mexico
                                         201803              Mexico
ATA Airlines                             200802                  US
                                         200710                  US
                                         200710                  US
...                                                             ...
XL Airways France                        201206              Europe
                                         201205              Europe
                                         201205              Europe
Xtra Airways                             200608                  US
                                         200608                  US

                                                         Activity Type Code  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803                    Deplaned
                                         201803                    Enplaned
ATA Airlines                             200802                    Enplaned
                                         200710                    Deplaned
                                         200710                    Enplaned
...                                                                     ...
XL Airways France                        201206                    Enplaned
                                         201205                    Deplaned
                                         201205                    Enplaned
Xtra Airways                             200608                    Deplaned
                                         200608                    Enplaned

                                                         Price Category Code  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803                        Other
                                         201803                        Other
ATA Airlines                             200802                     Low Fare
                                         200710                     Low Fare
                                         200710                     Low Fare
...                                                                      ...
XL Airways France                        201206                        Other
                                         201205                        Other
                                         201205                        Other
Xtra Airways                             200608                        Other
                                         200608                        Other

                                                               Terminal  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803           International
                                         201803           International
ATA Airlines                             200802           International
                                         200710           International
                                         200710           International
...                                                                 ...
XL Airways France                        201206           International
                                         201205           International
                                         201205           International
Xtra Airways                             200608           International
                                         200608           International

                                                         Boarding Area  \
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803                      A
                                         201803                      A
ATA Airlines                             200802                      A
                                         200710                      A
                                         200710                      A
...                                                                ...
XL Airways France                        201206                      A
                                         201205                      A
                                         201205                      A
Xtra Airways                             200608                      A
                                         200608                      A

                                                          Passenger Count
Operating Airline                        Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet 201803                      1090
                                         201803                      1212
ATA Airlines                             200802                        66
                                         200710                       100
                                         200710                       119
...                                                                   ...
XL Airways France                        201206                      2113
                                         201205                       106
                                         201205                       166
Xtra Airways                             200608                        73
                                         200608                        73

[18398 rows x 10 columns]